@page
@model IndexModel
@{
    ViewData["Title"] = "Ceva cu pizza";
    TimeSpan daysinbuisniess = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <p class="lead">Welcome! days in buisniess: @Convert.ToInt32(daysinbuisniess.TotalDays)</p>
</div>
