@page
@model IndexModel
@inject IBatteryService BatteryService

@{
    ViewData["Title"] = "Ceva cu pizza";
    TimeSpan daysinbuisniess = DateTime.Now - new DateTime(2018, 8, 14);
    DateTime dateValue = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <p class="lead">Welcome! days in buisniess: @Convert.ToInt32(daysinbuisniess.TotalDays)</p>

    <div id="battery-container">
        <p>Battery level: <span id="battery-level">Loading...</span>%</p>
    </div>

    <div id="razor-battery-container">
        <p>Battery level: <span id="razor-battery-level">
            @{
                var status = BatteryService.GetStatus();
                if (status.Percentage.HasValue)
                {
                    @status.Percentage
                }
                else
                {
                    @:N.A.
                }
            }</span>%</p>
    </div>

    <table>
        <thead>
            <tr>
                <th class="time">Timp</th>
                <th data-day="1">Luni</th>
                <th data-day="2">Marti</th>
                <th data-day="3">Miercuri</th>
                <th data-day="4">Joi</th>
                <th data-day="5">Vineri</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="time">08:00 - 10:00</td>
                <td>Munca</td>
                <td>Munca2</td>
                <td>Munca3</td>
                <td>Munca4</td>
                <td>Munca5</td>
            </tr>
            <tr>
                <td class="time">10:00 - 12:00</td>
                <td>Intalnire1</td>
                <td>Intalnire2</td>
                <td>Work</td>
                <td>Meeting</td>
                <td>Work</td>
            </tr>
            <tr>
                <td class="time">12:00 - 14:00</td>
                <td>Lunch</td>
                <td>Lunch</td>
                <td>Lunch</td>
                <td>Lunch</td>
                <td>Lunch</td>
            </tr>
            <tr>
                <td class="time">14:00 - 16:00</td>
                <td>Study</td>
                <td>Gym</td>
                <td>Project</td>
                <td>Study</td>
                <td>Free</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    async function loadBattery() {
        try {
            const response = await fetch("http://127.0.0.1:5257/system/battery");
            if (!response.ok) throw new Error("Failed to fetch battery");

            const data = await response.json();
            document.getElementById("battery-level").textContent = data.batteryLevel;
        } catch (err) {
            document.getElementById("battery-level").textContent = "Cannot fetch";
            console.error(err);
        }
    }

    loadBattery();
</script>